.info{
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 1rem;
}

.info h2{
    margin: 0;
    padding-bottom: 2rem;

    font-size: 4rem;
    font-family: Bradley Hand, cursive;

    color: #ffbf69;   
}

.info-hint{
    padding: 1.2rem;

    color: white;
}

.info-nav{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.info-nav button{
    display: block;
    padding: 0.7rem;

    border-radius: 0.7rem;
    font-size: 1.2rem;

    cursor: pointer;

    background-color: #fca311;
    color: #1d3557;
}

.info-terms {
    display: none;
 
    padding: 0;
    margin: 0;
    list-style: none;
}

.info-terms--open{
    display: block;
    width: 28rem;

    align-items: center;

    border-radius: 2rem;

    background-color: white;
    opacity: 0.6;
}

.info-terms--open p{
    padding: 1rem;

    line-height: 1.3rem;
}

@media screen and (min-width: 60rem){
    .info-terms--open{
        width: 50rem;
    }
}

@media screen and (min-width: 44rem) and (max-width: 60rem){
    .info-terms--open{
        width: 35rem;
    }

}